<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jarvis</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>
<div id="todo-container">
    <h2 style="text-align: center">Jarvis TODO</h2>
    <div id="left-div" class="col-xs-8">
        <div class="panel panel-primary" id="doing-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Doing Items</h3>
            </div>
            <div v-on:drop="drop()" ondragover="allowDrop(event)" class="panel-body">
                <div v-for="item of items">
                    <div draggable="true" v-on:dragstart="drag(item)" class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" :href="'#'+item.uuid" aria-expanded="false">
                                    <input class="col-xs-10" :value="item.title" disabled="disabled"/>
                                </a>
                                <div class="input-group">
                                    <button v-on:click="onEdit(item)">Edit</button>
                                    <button v-on:click="onDel(item)">Del</button>
                                </div>
                            </h4>
                        </div>
                        <div :id="item.uuid" class="panel-collapse collapse out" >
                            <div class="panel-body">
                                <div class="col-xs-6">
                                    <label>Due Time:</label>
                                    <input :value="item.dueTime">
                                </div>
                                <div class="col-xs-6">
                                    <label>Cost Time:</label>
                                    <span>{{item.costTime}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <ul v-for="item of items">
                    <li draggable="true" v-on:dragstart="drag(item)">{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-success" id="pending-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Pending Items</h3>
            </div>
            <div v-on:drop="drop()" ondragover="allowDrop(event)" class="panel-body">
                <ul v-for="item of items">
                    <li draggable="true" v-on:dragstart="drag(item)">{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-danger " id="todo-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Todo items</h3>
            </div>
            <div v-on:drop="drop()" ondragover="allowDrop(event)" class="panel-body">
                <ul v-for="item of items">
                    <li draggable="true" v-on:dragstart="drag(item)">{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-info" id="done-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Done Items</h3>
            </div>
            <div v-on:drop="drop()" ondragover="allowDrop(event)" class="panel-body">
                <ul v-for="item of items">
                    <li draggable="true" v-on:dragstart="drag(item)">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="right-div" class="col-xs-4">
        <div class="panel panel-default" id="template-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Template Items</h3>
            </div>
            <div v-on:drop="drop()" ondragover="allowDrop(event)" class="panel-body">
                <div v-for="item of items">
                    <div draggable="true" v-on:dragstart="drag(item)" class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" :href="'#'+item.uuid" aria-expanded="false">
                                    <input class="col-xs-9" :value="item.title" disabled="true"/>
                                </a>
                                <div class="input-group">
                                    <button>Edit</button>
                                    <button>Del</button>
                                </div>
                            </h4>
                        </div>
                        <div :id="item.uuid" class="panel-collapse collapse out" >
                            <div class="panel-body">
                                {{item.uuid}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-warning" id="future-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Future Items</h3>
            </div>
            <div v-on:drop="drop()" ondragover="allowDrop(event)" class="panel-body">
                <ul v-for="item of items">
                    <li draggable="true" v-on:dragstart="drag(item)">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

<script>
  function deepCopy(obj) {
    return JSON.parse(JSON.stringify(obj));
  }

  function toggleEdit(item, element) {
    var queryDom = $(element);
    var topItemDiv = queryDom.parent().parent().parent().parent();
    var itemInput = topItemDiv.find("input");
    alert(itemInput.val());
    if(queryDom.text() == 'Edit'){
      queryDom.text('Save');
      itemInput.attr('disabled', false);
    }else if(queryDom.text() == 'Save'){
      queryDom.text('Edit');
      itemInput.attr('disabled', true);
    }
  }

  function recordDragInfo(item, vue) {
    dragItem = item;
    dragType = vue.type;
    dragVue = vue;
  }

  function allowDrop(ev) {
    ev.preventDefault();
  }

  function getItemsByType(type, vue) {
    axios.post('/todo/getitembytype', {type:type})
      .then(response => {
      vue.items = response.data;
      }).catch(function (error) {
      console.log(error);
    });
  }

  function removeDraggedItem() {
    var item = deepCopy(dragItem);
    // remove in front-end
    for(var idx in dragVue.items){
      if(dragVue.items[idx].uuid == item.uuid){
        dragVue.items.splice(idx,1);
        break;
      }
    }
    // remove in back-end
    console.info(item.type);
    axios.post('/todo/deleteitem', item)
      .catch(function (error) {
      console.log(error);
    });
  }
  
  function addDroppedItem(vue) {
    var item = deepCopy(dragItem);
    // calculate time cost
    if(dragType == 'doing'){
      var timeCost = new Date().getTime() - (dragVue.timer[item.uuid] == null ? dragVue.timer['created'] : dragVue.timer[item.uuid]);
      item.costTime += timeCost;
    }

    // add in front-end
    item.type = vue.type;
    vue.items.push(item);
    // add in back-end
    axios.post('/todo/additem', item)
      .catch(function (error) {
        console.log(error);
      });
  }

  var dragItem;
  var dragType;
  var dragVue;

  var vueDoingPanel = new Vue({
    el: "#doing-panel",
    data: {
      type: 'doing',
      items: [{'uuid':'001','title':'t1'},{'uuid':'002','title':'t2'}],
      timer: {}
    },
    created() {
      this.getItems();
      var now = new Date();
      this.timer["created"] = now.getTime();
      this.items.forEach( function(item){this.timer[item.uuid] = now.getTime();});
    },
    methods: {
      getItems: function () {
        getItemsByType(this.type, this);
      },
      drag: function (item) {
        recordDragInfo(item, this);
      },
      drop: function () {
        // remove old item
        removeDraggedItem();

        // add new item
        addDroppedItem(this);

        // start timer
        this.timer[dragItem.uuid] = new Date().getTime();
      },
      onEdit: function (item) {
        toggleEdit(item, event.currentTarget);
      },
      onDel: function (item) {
        dragItem = item;
        dragVue = this;
        dragType = this.type;
        removeDraggedItem();
      }
    }
  });

  var vuePendingPanel = new Vue({
    el: "#pending-panel",
    data: {
      type: 'pending',
      items: []
    },
    created() {
      this.getItems();
    },
    methods: {
      getItems: function () {
        getItemsByType(this.type, this);
      },
      drag: function (item) {
        recordDragInfo(item, this);
      },
      drop: function () {
        // remove old item
        removeDraggedItem();

        // add new item
        addDroppedItem(this);

      }
    }
  });

  var vueTodoPanel = new Vue({
    el: "#todo-panel",
    data: {
      type: 'todo',
      items: []
    },
    created() {
      this.getItems();
    },
    methods: {
      getItems: function () {
        getItemsByType(this.type, this);
      },
      drag: function (item) {
        recordDragInfo(item, this);
      },
      drop: function () {
        // remove old item
        removeDraggedItem();

        // add new item
        addDroppedItem(this);

      }
    }
  });

  var vueDonePanel = new Vue({
    el: "#done-panel",
    data: {
      type: 'done',
      items: []
    },
    created() {
      this.getItems();
    },
    methods: {
      getItems: function () {
        getItemsByType(this.type, this);
      },
      drag: function (item) {
        recordDragInfo(item, this);
      },
      drop: function () {
        // remove old item
        removeDraggedItem();

        // add new item
        addDroppedItem(this);

      }
    }
  });

  var vueTemplatePanel = new Vue({
    el: "#template-panel",
    data: {
      type: 'template',
      items: []
    },
    created() {
      this.getItems();
    },
    methods: {
      getItems: function () {
        getItemsByType(this.type, this);
      },
      drag: function (item) {
        recordDragInfo(item, this);
      },
      drop: function () {
        // remove old item
        removeDraggedItem();

        // add new item
        addDroppedItem(this);

      }
    }
  });

  var vueFuturePanel = new Vue({
    el: "#future-panel",
    data: {
      type: 'future',
      items: []
    },
    created() {
      this.getItems();
    },
    methods: {
      getItems: function () {
        getItemsByType(this.type, this);
      },
      drag: function (item) {
        recordDragInfo(item, this);
      },
      drop: function () {
        // remove old item
        removeDraggedItem();

        // add new item
        addDroppedItem(this);

      }
    }
  });


</script>
</html>